<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jygis.smarttransit.mapper.RouteStopMapper">

    <select id="findAll"
            resultType="com.jygis.smarttransit.pojo.RouteStop">
        SELECT
            route_id,
            stop_id,
            stop_sequence
        FROM public.route_stops
        ORDER BY route_id, stop_sequence
    </select>

    <select id="findStopsByRouteId"
            resultType="com.jygis.smarttransit.pojo.RouteStopDetail">
        SELECT
            rs.route_id,
            rs.stop_id,
            s.stop_name,
            s.longitude,
            s.latitude,
            rs.stop_sequence
        FROM public.route_stops rs
        JOIN public.stops s
          ON rs.stop_id = s.stop_id
        WHERE rs.route_id = #{routeId}
        ORDER BY rs.stop_sequence
    </select>

</mapper>
